/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
	font-family: Constantia;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
	font-family: Consolas;
	background-color: #696969;
	color: #ffffff;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

h1.v11
{
	font-weight: bold;
	font-size: 24.0pt;
	background-color: #ffff00;
	color: #800080;
}

div.v11	/*Comment in v11*/
{
	background-color: #fffacd;
}

table.v11	/*v11*/
{
	width: 100%;
	caption-side: top;
	margin-left: 0;
	margin-right: auto;
	background-color: #fff8dc;
	border: solid 2px #ffd700;
}

tr.v11	/*v11*/
{
	
}

td.v11
{
	
}

blockquote
{
	font-family: Vijaya;
}

h2.divbottomv11
{
	font-weight: bold;
	font-size: 18.0pt;
	font-family: Constantia;
	margin-bottom: 2em;
}

table.v11LeftCollapse
{
	caption-side: top;
	margin-left: 0;
	margin-right: auto;
	background-color: #fff8dc;
	border: solid 2px #ffd700;
	width: auto;
}

table.v11CenterCollapse
{
	caption-side: top;
	margin-right: auto;
	background-color: #fff8dc;
	border: solid 2px #ffd700;
	width: auto;
	margin-left: auto;
}

table.v11RightCollapse
{
	caption-side: top;
	background-color: #fff8dc;
	border: solid 2px #ffd700;
	width: auto;
	margin-left: auto;
	margin-right: 0px;
}

